@import "tailwindcss";
@plugin "@tailwindcss/forms";

@layer utilities {
    .scrollbar-thin::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }
  
    .scrollbar-thin::-webkit-scrollbar-track {
      background: transparent;
    }
  
    .scrollbar-thin::-webkit-scrollbar-thumb {
      background: #d1d5db;
      border-radius: 2px;
    }
  
    .scrollbar-thin::-webkit-scrollbar-thumb:hover {
      background: #9ca3af;
    }
  
    .scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
      background: #d1d5db;
    }
  
    .scrollbar-track-transparent::-webkit-scrollbar-track {
      background: transparent;
    }
  }